html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.inner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 250px;
}